#card1:hover {
    background-color: #86c81b;
    
  }  
  #card2:hover {
    background-color: #0daae8;
    
  }
  #card3:hover {
    background-color: #86c81b;
    
  }  
  #card4:hover {
    background-color: #fbf706;
    
  }  
  #card5:hover {
    background-color: #e60bb3;
    
  }  
  #card6:hover {
    background-color: #e80d0d;
    
  }